body {
    background-color: aqua;
    margin: auto;
}

#gameBoard {
    width:fit-content;
    margin: auto;
    margin: auto;
    margin-top: 20px
    
}
#reset, #submit {
    margin-bottom: 20px
}
#submit {
    float: right
}
.mmRow {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px
}
.guess {
    display: flex;
    justify-content: space-around;
    width: 300px
}
.feedback {
    width: 120px;
    display: flex;
}
option {
    color: white
}
.red {
    background-color: red
}
.blue {
    background-color: blue
}
.yellow {
    background-color: yellow;
    color: black
}
.green {
    background-color: green
}
.orange {
    background-color: orange
}
.purple {
    background-color: purple
}





#whiteCircle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
}
#blackCircle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background-color: black;
}

#coloredCircles {
    display: flex;
    margin: auto;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
